@charset "utf-8";

header,div,section,h1,h2,p,dl,dt,dd,img{
    margin:0;
    padding:0;
    line-height:1;
}
body,html{
    height:100%;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
html{
    font-size:62.5%;/*1rem = 10px */
}
.small{
    font-size:1.2rem;
    line-height:1.2;
}
.wrap{
    font-size:1.6rem;
    border-bottom:10px solid #023148;
    position:relative;
}
.contents{
    width:90%;
    margin:40px auto;
    overflow: hidden;
    /*position:relative;*/
}
.about{
    width:90%;
    margin:0 auto;
}
.map{
    float:right;
}
.header{
    background: #023148;
    color:#fff;
    margin-bottom:30px;
    padding:10px 0;
}
.header h1{
    width:90%;
    margin:0 auto;
}
.bird{
    position:absolute;
    width:31.25%;
    bottom:40px;
    left:5%;
}
h2{
    margin-bottom:10px;
}
p{
    line-height:1.4;
    margin-bottom:10px;
}
.apis{
    width:31.25%;/*コンテンツ幅960pxのとき300px*/
    float:left;
}
.apis h2{
    height:0;
    width:0;
    overflow:hidden;
}
.apis-list{
    margin:20px 0 50px;
    font-size:1.4rem;
}
.apis-list dt{
    margin-bottom:5px;
}
.apis-list dd{
    line-height:1.3;
}
.bird{
    padding-bottom:64px;
}
.trendword{
    height:200px;
    width:90%;
    box-sizing:border-box;
    padding:5px;
    background:url(../images/fukidashi.png) no-repeat center center;
    background-size:contain;
    display:table;
}
.trendword p{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    margin:0;
}
.bird img{
    position:absolute;
    bottom:0;
    left:25%;
    margin-left:-64px;
}