<div class="wrap">
  <header class="header">
    <h1>TwitreJ</h1>
  </header>
  <section class="about">
    <h2>about</h2>
    <p>TwitreJ(twitter + trend + Japan)では、twitterのトレンドワードを色に変換し、日本地図を染めています。</p>
    <p>日本地図の中の色の付いている都道府県（<span style="color:#a0a0a0">■</span>以外）にホバーすると、鳥さんがその地域でのトレンドワードをひとつ教えてくれます。都道府県をクリックすると、そのトレンドワードのページへ遷移します。</p>
    <p class="small"><small>※2014.10.19現在、WOEIDが全都道府県に対応していないため全都道府県のトレンドワード取得はできていません。</small></p>
  </section>
  <div class="contents">
    <div id="map" class="map"></div>
      <section class="apis">
        <h2>使用API</h2>
        <dl class="apis-list">
          <dt>使用API</dt>
          <dd><a href="https://dev.twitter.com/">Twitter API</a></dd>
          <dd><a href="http://kawalabo.blogspot.jp/2014/02/iroiro_7.html" target="_blank">色色API</a></dd>
        </dl>
      </section>
      <div class="bird">
        <div class="trendword"><p id="trendword">・・・</p></div>
        <img src="/assets/images/twitter.png" height="64" width="64" alt="">
      </div>
  </div>
</div>
<script src="/assets/javascripts/main/jquery.japan-map.js"></script>
<script>
  $(function(){
    $("#map").japanMap({
    });
  });
</script>
