<!DOCTYPE html>
<html>
<head>
  <title>TwitreJ</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/assets/javascripts/jquery/jquery.js"></script>
  <link rel="stylesheet" href="/assets/css/twitrej.css">
</head>
<body>

<%= yield %>

</body>
</html>
